<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">
    
    
    <% include('./header.ejs')%>
    
    <title>page</title>
</head>
<%- include('./navbar.ejs') %>
<body>
    <h1 class="text-center"> page</h1>
</body>
</html>