<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    
    <% include('./header.ejs')%>
    
    <title>test</title>
</head>
<%- include('./navbar.ejs') %>
<body>
    <h1 class="text-center">test</h1>
    <p>
       <%= id %> 
    </p>
</body>
</html>